Source: niri
Section: x11
Priority: optional
Maintainer: Avenge Media <AvengeMedia.US@gmail.com>
Build-Depends: debhelper-compat (= 13),
               cargo-1.85,
               pkg-config,
               libudev-dev,
               libwayland-dev,
               libseat-dev,
               libglib2.0-dev,
               libclang-dev,
               libpipewire-0.3-dev,
               libcairo2-dev,
               libpango1.0-dev,
               libdisplay-info-dev,
               libinput-dev,
               libgbm-dev,
               libxkbcommon-dev
Standards-Version: 4.6.2
Homepage: https://github.com/YaLTeR/niri
Vcs-Browser: https://github.com/YaLTeR/niri
Vcs-Git: https://github.com/YaLTeR/niri.git

Package: niri
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libdisplay-info2,
         libseat1,
         xwayland-satellite
Recommends: fuzzel,
            xdg-desktop-portal-gtk,
            xdg-desktop-portal-gnome,
            gnome-keyring,
            policykit-1-gnome
Conflicts: niri-git
Description: Scrollable-tiling Wayland compositor
 niri is a scrollable-tiling Wayland compositor. It provides a unique
 scrollable tiling layout that allows for infinite workspace scrolling.
 .
 This is the stable release version. For the latest development features,
 use the 'niri-git' package instead.
